# tensorflow for mac follow instructions 
pandas 
gdown
dvc
mlflow
dagshub
tensorflow
tensorflow-macos 
tensorflow-metal
notebook
numpy
matplotlib
seaborn
ipywidgets
python-box
pyYAML
tqdm
ensure
joblib
jax-metal
ml_dtypes
jax
jaxlib
types-PyYAML
scipy
Flask
Flask-Cors
-e .